.spacing {
    height: 20px;
    width: 100%;
}

.container {
    max-width: inherit;
    height: 900px;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
}

.album-images-container {
    background-color: #CED2C2;
    max-height: 81%;
    width: 35%;
    box-sizing: inherit;
    

    display: flex;
    
    align-items: center;
    
    flex-flow: column nowrap;
    
}

.album-artFRONT {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 25px;
}

.album-artBACK {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.album-info-container {
    background-color: rgb(218, 218, 218);
    height: 60%;
    width: 25%;
    

    display: flex;
    
    align-items:flex-start;
    gap: 25px;
    flex-flow: column nowrap;
    
}

.album-name {
    font-family: Eczar;
    margin-left: 10px;
    
}

.album-descript {
    margin-left: 10px;
}

.purchase {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    
    .spacing {
        height: 40px;
        width: 100%;
    }
    .container {
        flex-direction: column;
        width: 100%;
    }
    .album-images-container {
        width: 100%;
        height: 50%;
    }
} 